:root {
  /* colors */

  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --customers-logos: #afb1b8;

  /* fonts */
  --font-main: "Roboto", sans-serif;
  --font-logo: "Raleway", sans-serif;

  /* transitions */
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: #fff;
  color: var(--dark);
  font-family: var(--font-main);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
link {
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.site-nav,
.header-contacts,
.header-nav,
.main-nav,
.list-features,
.list-services,
.list-team,
.portfolio-menu,
.all-projects-list {
  display: flex;
}

/* header  */

.page-header {
  border-bottom: 1px solid var(--accent);
}

.site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav,
.main-nav {
  align-items: center;
}

.site-nav .item:not(:first-child) {
  margin-left: 40px;
}

.site-nav .link.current {
  position: relative;

  color: var(--pressed-state);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;

  background-color: var(--primary-brand);
  border-radius: 2px;
}

.header-contacts .item + .item {
  margin-left: 40px;
}

.logo {
  font-family: var(--font-logo);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  color: var(--primary-brand);
}

.main-nav .logo {
  margin-right: 76px;
}

.logo-accent {
  color: var(--dark);
}

.header-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark);
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.header-link:hover,
.header-link:focus {
  color: var(--text);
}

.header-link:active {
  color: var(--primary-brand);
}

.header-contacts {
  margin-left: auto;
}

.header-contact {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--primary-brand);
}

/* main */

.hero {
  background: var(--dark);
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  min-height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office\ 1-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-header {
  font-family: inherit;
  font-weight: 500;
  font-size: 56px;
  line-height: 1;
  color: #fff;
  text-align: center;
  width: 494px;
  margin: 0 auto 48px;
}

.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: #fff;
  background-color: var(--primary-brand);

  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.hero-button:active,
.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
}

.section-header {
  font-family: inherit;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 72px;
}

.features,
.illustrations,
.our-team {
  padding-top: 120px;
  padding-bottom: 120px;
}

.illustrations {
  padding-top: 0;
}

/* titles */

.features-header,
.team-name,
.project-header {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

/* descriptions */

.features-description,
.team-position,
.project-description {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}

/* features */

.list-features .item + .item,
.list-services .item + .item,
.list-team .item + .item {
  margin-left: 24px;
}

.list-features .item {
  width: 264px;
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  background-color: var(--light);
  border-radius: 4px;
  padding: 0;
}

.features-icon .icon {
  width: 64px;
  height: 64px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* team */

.our-team {
  background-color: var(--light);
}

.team-bio {
  display: block;
  text-align: center;
  padding: 32px 16px;
}

.team-bio .social-links {
  margin-top: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.list-team .item {
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

/* social-icon-style */

.icon-box > .link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.icon-list > .link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-box .link {
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand);
  border-radius: 50%;
  padding: 12px;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.icon-box .link:active,
.icon-box .link:hover,
.icon-box .link:focus {
  background-color: var(--pressed-state);
}

.social-links .icon {
  width: 16px;
  height: 16px;
}

.social-links .icon:active {
  fill: var(--pressed-state);
}

/* customers */

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customers .item {
  width: 168px;
  height: 88px;
}

.list-customers .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: color var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);
}

.list-customers .link:hover,
.list-customers .link:focus {
  color: var(--primary-brand);
  border: 1px solid var(--primary-brand);
}

.list-customers .icon {
  fill: currentColor;
  width: 104px;
  height: 56px;
}

/* footer */

.footer {
  background: var(--dark);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo-text {
  margin-right: 120px;
}

.footer-logo-accent {
  color: var(--light);
}

.footer-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  color: var(--accent);
  margin-top: 16px;
  width: 264px;
}

.social-media-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 16px;
}

.footer .container {
  display: flex;
}

.social-links {
  justify-content: space-between;
}

.footer .icon-box .link {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 8px;
}

.footer .icon-box:not(:last-child) {
  margin-right: 16px;
}

.footer .social-links .icon {
  width: 24px;
  height: 24px;
}

.footer .icon-box .link:hover,
.footer .icon-box .link:focus {
  background-color: var(--success);
}

.subscribe-form {
  display: flex;
  margin-left: 80px;
}

.subscribe-label {
  display: block;
  position: absolute;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 16px;
}

.subscribe-input {
  display: block;
  position: relative;
  top: 40px;

  width: 264px;
  padding: 8px 16px;

  background-color: transparent;
  color: var(--light);
  font-size: 12px;
  line-height: 2;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: unset;

  transition: border var(--transition-duration)
    var(--transition-timing-function);
}

.subscribe-input::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.subscribe-input:focus {
  border: 1px solid var(--primary-brand);
}

.subscribe-button {
  display: flex;
  position: relative;
  top: 40px;

  width: 165px;
  height: 40px;
  margin-left: 24px;
  margin-right: 0px;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-brand);
  border: transparent;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.subscribe-button:hover .subscribe-button:focus {
  background-color: var(--pressed-state);
}

.submit-icon {
  width: 24px;
  height: 24px;
  margin-left: 16px;
  color: #fff;
}

/* Portfolio main */

.portfolio {
  padding-top: 96px;
}

.portfolio-menu {
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-menu .item + .item {
  margin-left: 24px;
}

.menu-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid var(--accent);
  border-radius: 4px;
  color: var(--primary-brand);
  background-color: var(--light);
  padding: 12px 24px;
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);
}

.menu-button:hover,
.menu-button:focus {
  color: #fff;
  background-color: var(--primary-brand);
  border: 1px solid transparent;
}

.all-projects-list {
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 20px;
  margin-bottom: 120px;
}

.all-projects-list .link {
  display: block;
  border: 1px solid var(--accent);
  overflow: hidden;
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.all-projects-list .link:hover,
.all-projects-list .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-bio {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb-text {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  margin-top: 0;
  margin-bottom: 0;

  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;

  color: var(--light);
  background-color: var(--primary-brand);

  transform: translate(0, 100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.all-projects-list .link:hover .thumb-text,
.all-projects-list .link:focus .thumb-text {
  transform: translate(0, 0);
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;
  transition: opacity var(--transition-duration)
    var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 576px;
  width: 408px;
  padding: 72px 24px 24px;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  position: absolute;

  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;

  background: var(--accent);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;

  color: #000;
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    var(--transition-duration) var(--transition-timing-function);
}

.modal-close-icon {
  width: 8px;
  height: 8px;
  fill: currentColor;
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--pressed-state);
  color: #fff;
  border: transparent;
}

.modal-text {
  margin-bottom: 14px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--dark);
}

.modal-form {
  display: block;
}

.modal-label {
  display: inline-block;
  margin-bottom: 4px;

  font-family: inherit;
  font-weight: 400;
  font-size: 12px;

  line-height: 1.2;
  color: var(--subtle-text);
}

.modal-input {
  width: 100%;
  height: 40px;

  font-family: inherit;
  font-weight: 400;
  font-size: 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding-left: 38px;
  padding-right: 19px;

  transition: border var(--transition-duration)
    var(--transition-timing-function);
}

.modal-input:focus,
.modal-area:focus {
  outline: none;
  border: 1px solid var(--primary-brand);
}

.modal-field {
  position: relative;
  margin-bottom: 8px;
}

.modal-area {
  padding-left: 16px;
  padding-top: 8px;
  margin-bottom: 16px;

  font-family: inherit;
  font-weight: 400;
  font-size: 12px;

  width: 100%;
  height: 120px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition-duration)
    var(--transition-timing-function);
}

.modal-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-field:last-of-type {
  margin-bottom: 24px;
}

.modal-icon {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--dark);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-icon .icon {
  position: inline-block;
}

.modal-field:focus-within .modal-icon {
  fill: var(--primary-brand);
}

.icon-check {
  width: 10px;
  height: 8px;
  fill: currentColor;
}

.check-text {
  font-size: 12px;
  font-weight: 500px;
  color: #757575;
  display: flex;
}

.check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;

  height: 16px;
  width: 16px;
  border: 1.25px solid var(--dark);
  border-radius: 2px;
  margin-right: 8px;

  transition: color var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.form-checkbox:checked + .check-text span {
  background-color: var(--pressed-state);
  border: none;
  color: #fff;
  fill: #fff;
}

.icon-check {
  color: #fff;
}

.check-text link {
  color: var(--primary-brand);
}

.check-text link:active {
  color: #404bbf;
}

.policy-link {
  margin-left: 4px;
  color: var(--primary-brand);
  text-decoration: underline;
}

.send-button {
  width: 169px;
  height: 56px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: #fff;
  background-color: var(--primary-brand);

  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.send-button:active,
.send-button:hover,
.send-button:focus {
  background-color: var(--pressed-state);
}
